.connectWallet {
  display: flex;
  align-items: center;
}

.connectWallet_select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.connectWallet_select:hover {
  border-color: #646cff;
}
.connectWallet_select:focus,
.connectWallet_select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.connectWallet_button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.connectWallet_button:hover {
  border-color: #646cff;
}
.connectWallet_button:focus,
.connectWallet_button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
