.connectWallet-container {
  display: flex;
  justify-content: center;
}

.connectWallet {
  display: flex;
  align-items: center;
}

.connectWallet_select {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  background-color: #f5f5f5;
  margin-right: 0.5rem;
}

.connectWallet_select:hover,
.connectWallet_select:focus {
  background-color: #0077cc;
  color: white;
}

.connectWallet_option {
  background-color: white;
  color: black;
}

.connectWallet_button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  background-color: #f5f5f5;
  color: black;
}

.connectWallet_button:hover,
.connectWallet_button:focus {
  background-color: #0077cc;
  color: white;
}
